# Dependencies
node_modules/

# Build output
dist/

# Environment variables
.env
.env.local
.env.*.local

# IDE
.vscode/*
!.vscode/extensions.json
.idea/

# OS
Thumbs.db
Desktop.ini
.DS_Store

# Logs
*.log
npm-debug.log*

# PWA dev artifacts
dev-dist/
